<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" ng-submit="vm.load()">
            <input ng-model="vm.filterValue" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <a class="btn btn-outline-info" ui-sref="funcionario.new">Novo registro</a>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Admissão</th>
                <th scope="col">Departamento</th>
                <th scope="col">Cargo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="funcionario in vm.funcionarios">
                <th scope="row">{{funcionario.id}} - {{funcionario.nome}}</th>
                <td>{{vm.formatarData(funcionario.dataAdmissao)}}</td>
                <td>{{funcionario.departamento.nome}}</td>
                <td>{{funcionario.cargo.nome}}</td>
                <td style="text-align: right">
                    <a class="btn btn-sm btn-success" ui-sref="funcionario.edit({id: funcionario.id})">Editar</a>
                    <button ng-click="vm.excluir(funcionario.id)" class="btn btn-sm btn-danger" type="button">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
