<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <h2 class="title">{{vm.title}}</h2>
            <form>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" ng-model="vm.cargo.nome" class="form-control">
                </div>
                <button ng-click="vm.save()" type="button" class="btn btn-success">Salvar</button>
                <a ui-sref="cargo.list" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
